.top-bar {
  position: absolute;
  z-index: 1050;
}
.top-bar .navbar-inverse {
  background-color: #f1f2f2;
  border-color: #f1f2f2;
}
.top-bar .navbar-inverse .navbar-nav > .active > a,
.top-bar .navbar-inverse .navbar-inverse .navbar-nav > .active > a:focus,
.top-bar .navbar-inverse .navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #fe0000;
}
.top-bar .navbar-inverse .navbar-nav > li > a:hover {
  color: #262626;
  background-color: transparent;
}
.top-bar .navbar-inverse .navbar-nav > .open > a,
.top-bar .navbar-inverse .navbar-inverse .navbar-nav > .open > a:focus,
.top-bar .navbar-inverse .navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #fe0000;
}
.navbar.navbar-default {
  background: #fe0000;
  min-height: 71px;
  margin-top: 50px;
}
.navbar.navbar-default .navbar-header .burguer {
  width: 55px;
  height: 71px;
  margin-top: 0px;
  position: absolute;
  left: 0;
  border-right: 2px solid #d2010d;
  padding: 5px;
}
.navbar.navbar-default .navbar-header .burguer img {
  width: 58%;
  margin-left: 8px;
  margin-top: 20px;
}
.navbar.navbar-default .nav.navbar-nav {
  margin-left: 165px;
}
.navbar.navbar-default .nav.navbar-nav li.dropdown {
  background: #d2010d;
  height: 71px;
  width: 71px;
}
.navbar.navbar-default .nav.navbar-nav li.dropdown a.dropdown-toggle {
  margin-top: 10px;
}
.navbar.navbar-default .nav.navbar-nav li.dropdown a.dropdown-toggle .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 8px dashed;
  border-top: 4px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  right: 14px;
  top: 21px;
}
.navbar.navbar-default .nav.navbar-nav li.dropdown .sm {
  font-size: 12px;
  font-weight: 200;
}
.navbar.navbar-default .nav.navbar-nav.navbar-right {
  margin-left: 165px;
  margin-right: -72px;
}
.navbar.navbar-default .nav.navbar-nav.navbar-right li.dropdown {
  width: 200px;
  background: #d2010d;
}
.navbar.navbar-default .nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle {
  margin-top: 0px;
}
.navbar.navbar-default .nav.navbar-nav.navbar-right li.dropdown .sm {
  font-size: 12px;
  font-weight: 200;
}
.navbar.navbar-default .nav.navbar-nav.navbar-right li.dropdown .caret.down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 8px dashed;
  border-top: 4px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  right: 24px;
  top: 31px;
}
.navbar.navbar-default .nav.navbar-nav.navbar-right li.chica {
  background-color: white;
  width: 62px;
}
.navbar.navbar-default .nav.navbar-nav.navbar-right li.chica img {
  width: 100%;
}
.navbar.navbar-default .navbar-form .form-group .form-control {
  background-color: #fe0000;
  border: 2px solid #d2010d;
  color: #ffffff;
}
.navbar.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  border-radius: 0;
}
.navbar.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar.navbar-default a.notifications {
  width: 30px;
  height: 23px;
  padding: 1px 7px 0px;
  font-size: 12px;
  position: absolute;
  top: 17px;
  right: 55px;
  background: url(../img/bubble.png) no-repeat;
  background-size: 21px;
  color: #fe0000;
}
.navbar.navbar-default a.notifications:hover {
  text-decoration: none;
  cursor: pointer;
}
.navbar.navbar-default a.back {
  width: 30px;
  height: 23px;
  padding: 1px 7px 0px;
  font-size: 12px;
  position: absolute;
  top: 17px;
  left: 10px;
  background: url(../img/volver.png) no-repeat;
  background-size: 21px;
  color: #fe0000;
}
.navbar.navbar-default a.back:hover {
  text-decoration: none;
  cursor: pointer;
}
.navbar.navbar-default .btns {
  height: 30px;
  width: 50%;
  position: absolute;
  top: 15px;
  margin: 0 auto;
  left: 56px;
}
.navbar.navbar-default .btns .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.navbar.navbar-default .btns .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navbar.navbar-default .btns .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navbar.navbar-default .btns .btn-default {
  border-color: #fe0000;
  color: #fe0000;
}
.navbar.navbar-default .btns .btn-default.active,
.navbar.navbar-default .btns .btn-default:active,
.navbar.navbar-default .btns .open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #fe0000;
  border-color: #ffffff;
}
.navbar.navbar-default .navbar-nav li a {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}
.navbar.navbar-default .navbar-nav .salir .fa-power-off {
  color: #fe0000;
}
.navbar.navbar-default .navbar-brand {
  left: 80px;
  position: absolute;
  width: 160px;
}
.navbar.navbar-default .navbar-brand img {
  width: 100%;
  margin-top: 5px;
}
.navbar.navbar-default .navbar-brand.tv {
  right: 0;
  position: absolute;
  width: 160px;
  float: none;
  left: 0;
  margin-right: 10px;
  top: -1px;
  background-color: #fe0000;
}
.navbar.navbar-default .navbar-brand.tv img {
  width: 100%;
  margin-top: -5px;
}
.navbar.navbar-default ::-webkit-input-placeholder {
  color: #ffffff;
}
.navbar.navbar-default :-moz-placeholder {
  color: #ffffff;
}
.navbar.navbar-default ::-moz-placeholder {
  color: #ffffff;
}
.navbar.navbar-default :-ms-input-placeholder {
  color: #ffffff;
}
.navbar.navbar-default #custom-search-input {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.navbar.navbar-default #custom-search-input .search-query {
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.navbar.navbar-default #custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */

  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #D9230F;
}
.navbar.navbar-default .search-query:focus + button {
  z-index: 3;
}
.navbar.navbar-default .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: white;
  -moz-osx-font-smoothing: grayscale;
}
.nav-sidebar {
  width: 100%;
  padding: 30px 0;
  margin-top: 50%;
}
.nav-sidebar a {
  color: #564c4c;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
}
.nav-sidebar .active a {
  cursor: default;
  background-color: #fe0000;
  color: #fff;
}
.nav-sidebar .active a:hover {
  background-color: #fe0000;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.btn-group.menu {
  position: absolute;
  right: 100px;
  top: 60px;
}
/* mouse indications */
.mouse-1 {
  width: 30px;
  position: absolute;
  top: 240px;
  z-index: 99;
  right: 85px;
}
.mouse-1 img {
  width: 100%;
}
.mouse-2 {
  width: 30px;
  position: absolute;
  top: 75%;
  z-index: 99;
  right: 60px;
}
.mouse-2 img {
  width: 100%;
}
.mouse-3 {
  width: 30px;
  position: absolute;
  top: 80%;
  z-index: 99;
  left: 60px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.mouse-3 img {
  width: 100%;
}
.mouse-4 {
  width: 30px;
  position: absolute;
  top: 40%;
  z-index: 99;
  left: 60px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.mouse-4 img {
  width: 100%;
}
.mouse-5 {
  width: 30px;
  position: absolute;
  top: 30%;
  z-index: 99;
  right: 90px;
}
.mouse-5 img {
  width: 100%;
}
.mouse-6 {
  width: 30px;
  position: absolute;
  top: 25%;
  z-index: 99;
  right: 90px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.mouse-6 img {
  width: 100%;
}
.mouse-7 {
  width: 30px;
  position: absolute;
  bottom: 9%;
  z-index: 99;
  left: 90px;
}
.mouse-7 img {
  width: 100%;
}
.mouse-8 {
  width: 30px;
  position: absolute;
  bottom: 12%;
  z-index: 99;
  right: 65px;
}
.mouse-8 img {
  width: 100%;
}
.mouse-9 {
  width: 30px;
  position: absolute;
  top: 55%;
  z-index: 99;
  right: 65px;
}
.mouse-9 img {
  width: 100%;
}
.mouse-10 {
  width: 30px;
  position: absolute;
  top: 27%;
  z-index: 99;
  right: 25px;
}
.mouse-10 img {
  width: 100%;
}
.mouse-11 {
  width: 30px;
  position: absolute;
  top: 48%;
  z-index: 99;
  right: 65px;
}
.mouse-11 img {
  width: 100%;
}
.mouse-12 {
  width: 30px;
  position: absolute;
  top: 58%;
  z-index: 99;
  right: 108px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.mouse-12 img {
  width: 100%;
}
.sub-header {
  background: #3a3a3e;
  width: 100%;
  height: 50px;
  margin-top: -147px;
  position: fixed;
  z-index: 1003;
}
.sub-header h1 {
  color: white;
  font-weight: 200;
  font-size: 24px;
  margin-top: 12px;
  padding-left: 15px;
  width: 30%;
  position: absolute;
}
.sub-header h2 {
  color: white;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  padding-left: 350px;
  position: absolute;
}
.sub-header .right-sub {
  float: right;
  height: 50px;
  width: 60%;
  text-align: right;
  padding-right: 15px;
}
.sub-header .right-sub .btn {
  margin-top: 3px;
}
.sub-header .right-sub .btn-off {
  background: transparent;
  border: none;
  color: white;
}
.sub-header .right-sub .btn-default {
  color: #fff;
  background-color: #b1b1b1;
  border-color: #b1b1b1;
  border-radius: 50px;
  width: 60px;
}
.sub-header .right-sub .btn-default i.fa-2x {
  margin-top: -6px;
  font-size: 1em;
}
.sub-header .right-sub a.btn i {
  color: #ffffff;
}
.sub-header .right-sub .btn.btn-dark.clock {
  width: 120px;
}
.sub-header .right-sub .btn img {
  width: 20px;
}
.sub-header .right-sub .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  border-radius: 50px;
  width: 60px;
}
.sub-header .right-sub .btn-warning i.fa-2x {
  margin-top: -6px;
  font-size: 1em;
}
.sub-header .right-sub .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  border-radius: 50px;
  width: 60px;
}
.sub-header .right-sub .btn-success i.fa-2x {
  margin-top: -6px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  font-size: 1em;
}
.sub-header-sub {
  background: #515154;
  width: 100%;
  height: 100px;
  position: fixed;
  margin-top: -97px;
  z-index: 1003;
}
.sub-header-sub .line1 {
  height: 50px;
}
.sub-header-sub .line1 .line {
  width: 98%;
  height: 1px;
  background-color: white;
  margin: 0 auto;
}
.sub-header-sub .line1 h1 img {
  width: 25px;
}
.sub-header-sub .line1 form.form-inline {
  margin-left: 200px;
  padding-top: 7px;
}
.sub-header-sub .line1 form.form-inline label {
  color: white;
  font-weight: 200;
  margin-right: 10px;
  margin-left: 15px;
}
.sub-header-sub p {
  width: auto;
  float: left;
  color: white;
  margin-right: 40px;
  padding-top: 13px;
}
.sub-header-sub .brg {
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  height: 75%;
  margin-top: 5px;
}
.sub-header-sub .ml {
  margin-left: 218px;
}
.sub-header-sub .ml-s {
  margin-left: 50px;
}
.sub-header-sub .right-box {
  width: 50%;
  float: right;
  position: absolute;
  right: 0;
  padding-top: 7px;
}
.sub-header-sub .right-box span.semaforo {
  width: 69px;
  margin-right: 40px;
}
.sub-header-sub .right-box .comment {
  width: 30px;
}
.sub-header-sub .right-box span {
  position: absolute;
  right: 225px;
  color: white;
  font-size: 23px;
}
.sub-header-sub .right-box span.a-down {
  right: 54px!important;
  font-size: 32px!important;
  margin-top: -10px;
}
.sub-header-sub .right-box span.a-down img {
  width: 30px;
}
.sub-header-sub .right-box .close {
  right: 25px;
  font-size: 28px;
  top: 5px;
}
.sub-header-sub .right-box .close img {
  width: 25px;
}
.sub-header-sub .right-box select {
  width: 120px;
  float: right;
  margin-right: 90px;
}
.sub-header-sub .right-box .btn-default {
  position: absolute;
  right: 85px;
  top: 5px;
}
.sub-header-sub .right-box .btn-default img {
  width: 25px;
  margin-right: 5px;
}
.sub-header-sub .right-box .btn-default img:last-child {
  width: 25px;
  margin-right: 0px;
}
.sub-header-sub .line {
  width: 98%;
  background-color: white;
  margin: 0 auto;
  height: 1px;
}
.sub-header-sub .line2 {
  height: 50px;
}
.sub-header-sub .line2 h1 img {
  width: 25px;
}
.sub-header-sub .line2 form.form-inline {
  margin-left: 200px;
  padding-top: 7px;
}
.sub-header-sub .line2 form.form-inline label {
  color: white;
  font-weight: 200;
  margin-right: 10px;
  margin-left: 15px;
}
.sub-header-sub h1 {
  color: white;
  font-weight: 200;
  font-size: 18px;
  margin-top: 12px;
  padding-left: 15px;
  width: 40%;
  position: absolute;
}
.mt-n {
  margin-top: -41px;
}
span.glyphicon.glyphicon-search {
  -ms-transform: rotate(90deg);
  /* IE 9 */

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.transition {
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body {
  background: #f1f2f2;
}
.row.content {
  margin-right: 0;
  margin-left: 0;
  margin-top: 269px;
}
.row.content .hero {
  background-color: white;
  height: 100px;
  width: 100%;
  padding-top: 58px;
  border-bottom: 1px solid #b1b1b1;
}
.row.content .hero .checkbox {
  margin-bottom: 0;
}
.row.content .hero .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #b1b1b1;
  border-radius: 4px 4px 0 0;
  background-color: #ffffff;
  color: #262626;
}
.row.content .hero .nav-tabs > li.active > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #fe0000;
  border-radius: 4px 4px 0 0;
  background-color: #f1f2f2;
  border-bottom: 1px solid #f1f2f2;
  color: #fe0000;
}
.row.content .hero span.service {
  width: 130px;
  float: left;
  margin-top: -35px;
}
.row.content .hero span.service img {
  width: 25px;
  float: left;
  margin-right: 12px;
}
.row.content .hero span.service p {
  line-height: 37px;
  margin-left: 14px;
}
.data h1 {
  font-size: 24px;
  font-weight: 500;
}
.data .xl {
  font-size: 34px;
  font-weight: 500;
}
.data h2 {
  font-size: 18px;
  font-weight: 200;
  margin-top: 10px;
}
.data thead {
  background-color: #d7e7f4;
}
.data tbody td {
  background-color: #ffffff;
}
.data a.thumbnail {
  color: #3a3a3e;
  text-align: center;
  border-bottom: 2px solid #fe0000;
  background-color: #f1f1f1;
}
.data a.thumbnail h1 {
  font-size: 17px;
}
.data a.thumbnail hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #fe0000;
}
.data a.thumbnail p {
  font-size: 16px;
  font-weight: 300;
}
.data a.thumbnail:hover {
  text-decoration: none;
  border-bottom: 2px solid #337ab7;
}
.data a.thumbnail:hover hr {
  border-top: 1px solid #337ab7;
}
.data .well {
  background: #ffffff;
}
.data .well form .form-group {
  font-weight: 200;
}
.data .well form .toggle.btn.off.btn-sm.ios.btn-danger {
  width: 48px;
  min-height: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.data .well form .toggle.btn.btn-sm.ios.btn-default {
  width: 48px;
  min-height: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.data .well a {
  color: red;
  font-size: 15px;
  margin-right: 10px;
  clear: both;
}
.data .well a:hover {
  cursor: pointer;
}
.data .well a.doc {
  color: red;
  font-size: 12px;
  margin-right: 10px;
  display: block;
  margin-bottom: 10px;
}
.data .well a.doc:hover {
  cursor: pointer;
}
.data .well .box {
  border: 1px solid #f1f1f1;
  margin-bottom: 5px;
  padding: 5px;
}
.data .well .box p.left {
  width: auto;
  float: left;
  margin-right: 14px;
  font-size: 12px;
}
.data .well .box p.left img.img-responsive {
  width: 64px;
  margin-left: 29px;
}
.data .well .box p.cash {
  font-size: 18px;
  padding-top: 10px;
  text-indent: 10px;
}
.data .well span {
  color: gray;
}
.data .well hr {
  margin-bottom: 10px;
}
.data .well .top-date {
  color: #4c7b85;
  font-size: 20px;
}
.data .well.top {
  background: #ffffff;
  margin-top: 85px;
}
.data .well.top a {
  clear: none;
}
.data label {
  font-weight: 200;
}
.data button.btn.btn-danger {
  margin-top: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: block;
}
.data .box-blue-top {
  background-color: #d7e7f4;
  height: 40px;
  margin-top: 20px;
  padding: 10px;
}
.data .box-blue-top h2 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 3px;
}
.data .box-blue-top h2 span {
  font-size: 12px;
  font-weight: 200;
}
.data .box-blue-top h3 {
  font-size: 13px;
  font-weight: 500;
  margin-top: 3px;
}
.data .box-blue-top h3 span {
  font-size: 12px;
  font-weight: 200;
}
.data .box-blue-top a.btn.btn-gray {
  background-color: gray;
  border-radius: 0;
  color: white;
  border-bottom: 3px solid black;
  margin-top: -10px;
  height: 40px;
  position: absolute;
  right: 0;
}
.data .col-md-12.slider {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}
.data .panel.panel-default {
  margin-top: 20px;
  border-radius: 0px;
}
.data .panel.panel-default .panel-header {
  background-color: #515154;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: 200;
}
.data .panel.panel-default .panel-header a {
  float: right;
  background-color: #333;
  height: 45px;
  margin-top: -10px;
  margin-right: -10px;
  width: 142px;
  text-align: center;
  line-height: 2.5;
  color: white;
  cursor: pointer;
  font-weight: 200;
}
.data .panel.panel-default .panel-body {
  background-color: #fff;
}
.data .panel.panel-default .panel-body img.img-responsive.pie {
  margin-top: 30%;
}
.data .panel.panel-default .panel-body .well.gray {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  box-shadow: none;
  padding-top: 0px;
  height: 120px;
}
.data .panel.panel-default .panel-body .well.gray .icon.col-md-1 {
  height: 101px;
  padding-right: 0;
}
.data .panel.panel-default .panel-body .well.gray .icon.col-md-1 img {
  width: 15px;
  margin-top: 25px;
}
.data .panel.panel-default .panel-body .well.gray .text {
  text-indent: 15px;
}
.data .panel.panel-default .panel-body .well.gray .text.dos {
  text-indent: 15px;
  margin-top: 20px;
}
.data .panel.panel-default .panel-body .well.gray .icon.col-md-1.idos {
  padding-left: 0;
}
.data .panel.panel-default .panel-body .well.gray .icon.col-md-1.idos img {
  width: 29px;
  margin-top: 31px;
}
.data .panel.panel-default .panel-body .well.gray h1 {
  font-size: 14px;
  font-weight: 400;
}
.data .panel.panel-default .panel-body .well.gray p {
  font-size: 13px;
  font-weight: 200;
}
.data .panel.panel-default .panel-footer {
  min-height: 50px;
  padding-top: 15px;
}
.well.side h2 {
  font-size: 14px;
  font-weight: 200;
  margin-top: 10px;
}
.well.side a {
  color: red;
  font-size: 15px;
  margin-right: 10px;
  clear: none;
}
.well.side thead {
  background-color: #d7e7f4;
}
.well.side tbody td {
  background-color: #ffffff;
  width: 50%;
}
.well.side tbody td img {
  width: 73%;
  margin: 0 auto;
}
.contracts {
  padding: 16px;
  width: 100%;
  height: 605px;
}
.contracts .panel.panel-default {
  margin-top: 20px;
  border-radius: 0px;
}
.contracts .panel.panel-default .panel-header {
  background-color: #515154;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: 200;
}
.contracts .panel.panel-default .panel-header a {
  float: right;
  background-color: #333;
  height: 45px;
  margin-top: -10px;
  margin-right: -10px;
  width: 142px;
  text-align: center;
  line-height: 2.5;
  color: white;
  cursor: pointer;
  font-weight: 200;
}
.contracts .panel.panel-default .panel-body {
  background-color: #d7e7f4;
  height: 300px;
}
.contracts .panel.panel-default .panel-body .card {
  background: #ffffff;
  padding: 0;
  margin-right: 10px;
}
.contracts .panel.panel-default .panel-body .card .card-header {
  background-color: red;
  width: 100%;
  height: 30px;
  color: white;
  padding: 2px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}
.contracts .panel.panel-default .panel-body .card .card-body {
  text-align: center;
  padding: 28px 5px;
  height: 155px;
  border-bottom: 2px solid;
}
.contracts .panel.panel-default .panel-body .card .card-body input {
  width: 80%;
}
.contracts .panel.panel-default .panel-body .card .card-body img {
  margin: 0 auto;
}
.contracts .panel.panel-default .panel-footer {
  min-height: 50px;
  padding-top: 15px;
}
.cash-monitor {
  width: 100%;
  background-color: white;
  padding: 30px;
}
.cash-monitor .col-md-4.monitor {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: white;
  height: 120px;
  bottom: -376px;
  padding-top: 20px;
  -webkit-box-shadow: 0px -1px 10px 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px -1px 10px 4px rgba(0, 0, 0, 0.07);
  box-shadow: 0px -1px 10px 4px rgba(0, 0, 0, 0.07);
}
.cash-monitor .col-md-4.monitor .clearfix {
  margin-bottom: 10px;
}
.cash-monitor .col-md-4.monitor input {
  width: 80%;
}
.cash-monitor .col-md-4.monitor .btn-cancel {
  border: 1px solid #515154;
  background: #515154;
  border-radius: 0px;
  color: white;
}
.cash-monitor .col-md-4.monitor .btn-danger {
  border: 1px solid #fe0000;
  background: #fe0000;
  border-radius: 0px;
}
.footer {
  background-color: #515154;
  height: 80px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  padding-top: 30px;
}
.footer span.badge {
  /* margin-top: -39px; */

  margin-left: -18px;
  z-index: 99;
  position: absolute;
  background-color: red;
}
.footer i.fa.fa-money.fa-2x {
  margin-right: 15px;
  line-height: 39px;
}
.op {
  opacity: 0.1;
}
.mr {
  margin-right: 50px;
}
/* carousel */
.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
  left: 0px;
  background-image: none;
  height: 37px;
  width: 40px;
  margin-top: 30px;
  font-size: 65px;
  color: gray;
  text-shadow: none;
}
/* Next button  */
.media-carousel .carousel-control.right {
  right: 0px !important;
  background-image: none;
  height: 37px;
  width: 40px;
  margin-top: 30px;
  font-size: 65px;
  color: gray;
  text-shadow: none;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active {
  background: #333333;
}
.media-carousel img {
  width: 250px;
  height: 100px;
}
/* End carousel */
.btn-dark {
  color: #fff;
  background-color: #515154;
  border-color: #515154;
  border-radius: 50px;
  width: 60px;
}
.btn-default.sh {
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f1f1f1), to(#cccccc));
  background-image: -moz-linear-gradient(top, #f1f1f1, #cccccc);
  background-image: -ms-linear-gradient(top, #f1f1f1, #cccccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #cccccc);
  background-image: -o-linear-gradient(top, #f1f1f1, #cccccc);
  background-image: linear-gradient(top, #f1f1f1, #cccccc);
}
