body {
  background: #f1f2f2;
}

.row.content {
  margin-right: 0;
  margin-left:0;
  margin-top: 116px;

  .hero {
      background-color: white;
      height: 50px;
      width: 100%;
      padding-top: 40px;
      border-bottom: 1px solid #b1b1b1;

    .checkbox {
      margin-top: 17px;
      margin-bottom: 0;
    }

    ul.nav.nav-tabs {
      margin-top: -29px;
    }

    .nav-tabs>li {
      float: left;
      margin-bottom: -1px;
      font-size: 12px;
    }

    .nav-tabs>li>a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid #b1b1b1;
      border-radius: 4px 4px 0 0;
      background-color: #ffffff;
      color:@black;
    }

    .nav-tabs>li.active>a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid @red;
      border-radius: 4px 4px 0 0;
      background-color: #f1f2f2;
      border-bottom: 1px solid #f1f2f2;
      color:@red;

    }

    span.service {
      width: 130px;
      float: left;
      margin-top: -35px;
      img {
        width: 15px;
        float: left;
        margin-right: 12px;
        margin-top: -10px;
      }
      p {
        line-height: 7px;
        margin-left: 14px;
      }
    }
  }
}

.data {
  width: 100%;
  display: block;
  position: absolute;
  margin-top: -5px;
  .form-group {
    margin-bottom: 5px;
    .form-control {
      height: 25px;
    }
  }
  h1 {
    font-size: 14px;
    font-weight: 500;
  }

  .col-md-9 {
    .col-md-4 {
      padding-left: 0;
    }
  }
  .xl {
    font-size: 24px;
    font-weight: 400;
  }

  h2 {
    font-size: 12px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 5px;
  }
  thead {
    background-color: #d7e7f4;
  }
  tbody {
    td {
      background-color: @white;
    }
  }
  a.thumbnail {
    color: #3a3a3e;
    text-align: center;
    border-bottom: 2px solid @red;
    background-color: #f1f1f1;

    h1 {
      font-size: 17px;
    }
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid @red;
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }

    &:hover {
      text-decoration:none;
      border-bottom: 2px solid #337ab7;
      hr {
        border-top: 1px solid #337ab7;
      }
    }
  }
  .well {
    background: @white;
    padding:8px;
    margin-bottom: 5px;
    form {
      .form-group {
        font-weight: 200;
      }
      .toggle.btn.off.btn-sm.ios.btn-danger {
        width: 48px;
        min-height: 24px;
        height: 24px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .toggle.btn.btn-sm.ios.btn-default {
        width: 48px;
        min-height: 24px;
        height: 24px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    a {
      color: red;
      font-size: 12px;
      margin-right:10px;
      clear:both;
      &:hover {
        cursor:pointer;
      }
    }

    a.doc {
      color: red;
      font-size: 12px;
      margin-right:10px;
      display: block;
      margin-bottom: 5px;
      &:hover {
        cursor:pointer;
      }
    }
    .box {
      border: 1px solid #f1f1f1;
      margin-bottom: 5px;
      padding: 2px;

      p {
        font-size: 11px;
        margin: 0 0 4px;
      }
      p.left {
        width: auto;
        float: left;
        margin-right: 14px;
        font-size: 12px;

        img.img-responsive {
          width: 64px;
          margin-left: 29px;
        }
      }
      p.cash {
        font-size: 12px;
        padding-top: 10px;
        text-indent: 10px;
      }
    }


    span {
      color:gray;
    }

    hr {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .top-date {
      color:#4c7b85;
      font-size: 14px;
    }
  }

  .well.top {
    background: @white;
    margin-top: 63px;

    a {
      clear: none;
    }
  }

  label {
    font-weight: 200;
    font-size: 12px;
  }
  button.btn.btn-danger {
    margin-top:40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
  }

  .box-blue-top {
    background-color: #d7e7f4;
    height: 30px;
    margin-top: 20px;
    padding: 5px;

    h2 {
      font-size: 12px;
      font-weight: 500;
      margin-top: 3px;
      span {
        font-size: 12px;
        font-weight: 200;
      }
    }

    h3 {
      font-size: 11px;
      font-weight: 500;
      margin-top: 3px;
      span {
        font-size: 12px;
        font-weight: 200;
      }
    }
    a.btn.btn-gray {
      background-color: gray;
      border-radius: 0;
      color: white;
      border-bottom: 3px solid black;
      margin-top: -5px;
      height: 30px;
      position: absolute;
      right: 0;
    }
  }
  .col-md-12.slider{
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-top:-32px;

    .thumbnail {
      max-height: 75px;

      h1 {
        font-size: 12px;
        margin-top: 4px;
      }
      hr {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #fe0000;
      }
      p {
        font-size: 11px;
        font-weight: 300;
        margin: 0;
      }
    }
  }
  .panel.panel-default {
    margin-top:20px;
    border-radius:0px;

    .panel-header {
      background-color: #515154;
      padding: 10px;
      color: white;
      font-size: 12px;
      font-weight: 200;
       a {
         float: right;
         background-color: #333;
         height: 37px;
         margin-top: -10px;
         margin-right: -10px;
         width: 142px;
         text-align: center;
         line-height: 3;
         color: white;
         cursor: pointer;
         font-weight: 200;
       }
    }
    .panel-body {
      background-color: #fff;
      img.img-responsive.pie {
        margin-top: 0%;
      }
      img.img-responsive.pie-dos {
        margin-top: 35%;
      }
      .well.gray {
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        box-shadow: none;
        padding-top: 0px;
        height: 70px;
        padding-right: 15px;

        .icon.col-md-1 {
          height: 101px;
          padding-right: 0;
          left:21px;
          position: absolute;

          img {
            width: 15px;
            margin-top: 7px;
          }
        }

        .icon-dos.col-md-1 {
          height: 101px;
          padding-right: 0;
          right:28px;
          left:inherit;
          position: absolute;

          img {
            width: 12px;
            margin-top: 12px;
          }
        }

        .text {
          text-indent: 15px;
          position: absolute;
          margin: 0 auto;
          margin-left: 10px;
        }

        .text.dos {
          text-indent: 15px;
          margin-top: 12px;
        }

        .icon.col-md-1.idos {
          padding-left: 0;

          img {
            width: 23px;
            margin-top: 12px;
          }
        }
        h1 {
          font-size:12px;
          font-weight: 400;
          margin-top: 8px;
        }
        p {
          font-size:11px;
          font-weight: 200;
          margin-top: -7px;
        }
      }
    }
    .panel-footer {
      min-height: 50px;
      padding-top: 15px;
    }
  }
}

.data.tres {
  width: 100%;
  display: block;
  position: inherit;
  margin-top: -5px;

  .col-md-12 {
      margin-top: -31px;
  }

  .panel-default {
    margin-top:0;
    margin-bottom: 0px;
    .panel-heading {
      color: #333;
      background: url(../img/vector_i/down.png) no-repeat #f5f5f5;
      background-position: 99% 50%;
      background-size: 21px;
      border-color: #ddd;
    }
  }
  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    font-size: 12px;
  }

  .tab-pane {
    p {
      padding-top: 10px;
      font-size: 12px;
      a {
        font-size: 12px;
        color:@red;
        &:hover {
          color:red;
          cursor:pointer;
        }
      }
    }
  }
  .tab-content {
    border: 1px solid @soft-gray;
    height:auto;
    margin-bottom: 6px;
    width: 99.5%;
    border-radius:2px;
    padding: 5px;
  }
  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #b1b1b1;
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
    color:@black;
  }

  .nav-tabs>li.active>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid @red;
    border-radius: 4px 4px 0 0;
    background-color: #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    color:@red;

  }
}

.data.cuatro {
  width: 100%;
  display: block;
  position: inherit;
  margin-top: -5px;
}
.well.side {
  padding-top: 2px;
  padding-bottom: 0px;
  h2 {
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px;
  }
  a {
    color: red;
    font-size: 15px;
    margin-right: 10px;
    clear: none;
  }
  thead {
    background-color: #d7e7f4;
  }
  tbody {
    td {
      background-color: @white;
      width: 50%;

      img {
        width: 55%;
        margin: 0 auto;
      }
    }
  }
}

.contracts {
  padding: 16px;
  width: 100%;
  height: 405px;

  .panel.panel-default {
    margin-top:20px;
    border-radius:0px;
    max-height: 270px;
    .panel-header {
      background-color: #515154;
      padding: 10px;
      color: white;
      font-size: 12px;
      font-weight: 200;
       a {
        float: right;
        background-color: #333;
        height: 37px;
        margin-top: -10px;
        margin-right: -10px;
        width: 142px;
        text-align: center;
        line-height: 3;
        color: white;
        cursor: pointer;
        font-weight: 200;
       }
    }
    .panel-body {
      background-color: #d7e7f4;
      height: 220px;
      .card {
        background: @white;
        padding: 0;
        margin-right: 10px;
        .card-header {
          background-color: red;
          width: 100%;
          height: 30px;
          color: white;
          padding: 3px;
          text-align: center;
          font-size: 14px;
          font-weight: 200;
        }
        .card-body {
          text-align: center;
          padding: 15px 5px;
          height: 115px;
          border-bottom: 2px solid;

          input {
            width: 80%;
            height: 25px;
          }

          img {
            margin-top: 10px;
            margin: 0 auto;
          }
        }
      }
    }
    .panel-footer {
      min-height: 50px;
      padding-top: 15px;
    }
  }
}
.cash-monitor {
  width: 100%;
  background-color: white;
  padding: 23px;

  .col-md-4.monitor {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: white;
    height: 120px;
    bottom: 46px;
    padding-top: 20px;
    -webkit-box-shadow: 0px -1px 10px 4px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px -1px 10px 4px rgba(0,0,0,0.07);
    box-shadow: 0px -1px 10px 4px rgba(0,0,0,0.07);
    .clearfix {
      margin-bottom: 10px;
    }

    input {
      width: 80%;
      height: 25px;
    }

    .btn-cancel {
      border: 1px solid #515154;
      background: #515154;
      border-radius:0px;
      color:white;
    }

    .btn-danger {
      border: 1px solid @red;
      background: @red;
      border-radius:0px;
    }
  }
}
.footer {

  background-color: #515154;
  height: 46px;
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 6px;
  .bl {
    border-left: 1px solid white;
    height: 31px;
  }
  span.badge {
    /* margin-top: -39px; */
    margin-left: -18px;
    z-index: 99;
    position: absolute;
    background-color: red;
  }

  i.fa.fa-money.fa-2x {
    margin-right: 15px;
    line-height: 39px;
  }
}

.op {
  opacity: 0.1;
}

.mr {
  margin-right: 50px;
}
