body {
  background: #f1f2f2;
}

.row.content {
  margin-right: 0;
  margin-left:0;
  margin-top: 215px;

  .hero {
    background-color: white;
    height: 100px;
    width: 100%;
    padding-top: 58px;
    border-bottom:1px solid @soft-gray;

    .toggle.btn.btn-sm.ios.btn-default {
      width: 66px;
      height: 34px;
      margin-top: -12px;
      margin-left: 20px;
    }

    .toggle.btn.btn-default.off {
      width: 66px;
      height: 34px;
      margin-top: -12px;
      margin-left: 20px;
    }

    .nav-tabs>li>a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid #b1b1b1;
      border-radius: 4px 4px 0 0;
      background-color: #ffffff;
      color:@black;
    }

    .nav-tabs>li.active>a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid @red;
      border-radius: 4px 4px 0 0;
      background-color: #f1f2f2;
      border-bottom: 1px solid #f1f2f2;
      color:@red;

    }
  }
}

.data {
  h1 {
    font-size: 24px;
    font-weight: 500;
  }
  h2 {
    font-size: 18px;
    font-weight: 200;
    margin-top: 10px;
  }
  .well {
    background: @white;
    a {
      color: red;
      font-size: 15px;
      margin-right:10px;
      clear:both;
      &:hover {
        cursor:pointer;
      }
    }

    a.doc {
      color: red;
      font-size: 12px;
      margin-right:10px;
      display: block;
      margin-bottom:10px;
      &:hover {
        cursor:pointer;
      }
    }
    .box {
      border: 1px solid#f1f1f1;
      margin-bottom: 5px;
      padding: 5px;

      p.left {
        width: auto;
        float: left;
        margin-right: 14px;
        font-size: 12px;

        img.img-responsive {
          width: 64px;
          margin-left: 29px;
        }
      }
      p.cash {
        font-size: 18px;
        padding-top: 10px;
        text-indent: 10px;
      }
    }


    span {
      color:gray;
    }

    hr {
      margin-bottom:10px;
    }
    .top-date {
      color:#4c7b85;
      font-size: 20px;
    }
  }

  .well.top {
    background: @white;
    margin-top: 85px;
  }

  label {
    font-weight: 200;
  }
  button.btn.btn-danger {
    margin-top:40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
  }
}

.op {
  opacity: 0.1;
}
